{%- set tag = sign + '-' + fName -%}
${{tag}}-fz: inherit !default;

@font-face {
	font-family: "{{fName}}";
    font-weight: normal;
    font-style: normal;
	src: url('{{fUrl}}{{fName}}.eot');
	src: url('{{fUrl}}{{fName}}.eot?#iefix') format('embedded-opentype'),
		url('{{fUrl}}{{fName}}.woff') format('woff');//,
		//url('{{fUrl}}{{fName}}.ttf') format('truetype'),
		//url('{{fUrl}}{{fName}}.svg#{{fName}}') format('svg');
}
${{tag}}-fz: inherit !default;
${{tag}}-fl: none !default;
${{tag}}-m: 0 !default;
${{tag}}-va: -.25em !default;
[class^="{{tag}}-"],
[class*=" {{tag}}-"] {
	font-family: "{{fName}}";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-size: ${{tag}}-fz;
	float: ${{tag}}-fl;
	margin: ${{tag}}-m;
	vertical-align: ${{tag}}-va;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; only necessary if not using the private unicode range (firstdata option) 
	text-decoration: none;
	text-transform: none;
}
{% for data in cssData -%}
.{{tag}}-{{data.name}}:before {
	content: "\{{data.unicode[0]|fontUnicode}}";
}
{%- endfor -%}
