@font-face {
	font-family: "<%= sName %>";
    font-weight: normal;
    font-style: normal;
	src: url('<%= fontPath %><%= sName %>.eot');
	src: url('<%= fontPath %><%= sName %>.eot?#iefix') format('embedded-opentype'),
		url('<%= fontPath %><%= sName %>.woff') format('woff');/*,
		url('<%= fontPath %><%= sName %>.ttf') format('truetype'),
		url('<%= fontPath %><%= sName %>.svg#<%= sName %>') format('svg');*/
}

[class^="<%= prefix %>-"], [class*=" <%= prefix %>-"]:before {
	font-family: "<%= sName %>";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}

<% _.each(glyphs, function(glyph) { %>
.<%= prefix %>-<%= glyph.name %>:before {
	content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>";
}
<% }); %>
