<% _.forEach(cssData, function(data, name) { %>
$<%= sign %>-<%= fName %>-<%= name %>:(<%= data.width ? data.width + 'px' : 0 %>,<%= data.height ? data.height + 'px' : 0 %>,<%= data.offset_x ? data.offset_x + 'px' : 0 %>,<%= data.offset_y ? data.offset_y + 'px' : 0 %>,<%= sign %>-<%= fName %>-<%= name %>);
<% }); %>
$<%= sign %>-<%= fName %>: (<% _.forEach(cssData, function(data, name) { %>$<%= sign %>-<%= fName %>-<%= name %>,<% }); %>);

@mixin <%= sign %>-<%= fName %>($sprites) {
  %ico<%= fName %> {
      display: inline-block;
      *zoom: 1;
      *display: inline;
      vertical-align: middle;
      background-image: url(<%= fUrl %>);
  }
  @each $sprite in $sprites {
    .#{nth($sprite, 5)} {
        width: nth($sprite, 1);
        height: nth($sprite, 2);
        background-position: nth($sprite, 3) nth($sprite, 4);
      @extend %ico<%= fName %>;
    }
  }
}