<% _.forEach(glyphs, function(glyph, name) { %>
$<%= prefix %>-<%= sName %>-<%= name %>:(<%= glyph.width ? glyph.width + 'px' : 0 %>,<%= glyph.height ? glyph.height + 'px' : 0 %>,<%= glyph.offset_x ? glyph.offset_x + 'px' : 0 %>,<%= glyph.offset_y ? glyph.offset_y + 'px' : 0 %>,<%= prefix %>-<%= name %>);
<% }); %>
$<%= prefix %>-<%= sName %>: (<% _.forEach(glyphs, function(glyph, name) { %>$<%= prefix %>-<%= sName %>-<%= name %>,<% }); %>);

@mixin <%= prefix %>-<%= sName %>-single($sprite) {
  width: nth($sprite, 1);
  height: nth($sprite, 2);
  background-image: url(<%= imgPath %>);
  background-position: nth($sprite, 3)  nth($sprite, 4);
}


@mixin <%= prefix %>-<%= sName %>($sprites) {
  %ico {
      background-image: url(<%= imgPath %>);
  }
  @each $sprite in $sprites {
    .#{nth($sprite, 5)} {
        width: nth($sprite, 1);
        height: nth($sprite, 2);
        background-position: nth($sprite, 3)  nth($sprite, 4);
      @extend %ico;
    }
  }
}