//
// Grid system
// --------------------------------------------------

.container {
    @include clearfix;
    width: $screen;
    max-width: $screen;
    margin: 0 auto;
}

.row {
    @include clearfix;
}
