$screen: 1000px; // 页面宽度

// 字体
$color : #333; // 字体颜色
$fz    : 12px; // 字号
$ff    : microsoft yahei; // 字体
$lh    : 1.5; // 行高
$bgc   : none; // 背景

// link
$link-color       : #333; // 颜色
$hover-color      : #f00; // hover颜色
$hover-decoration : underline; // 下划线

